.grafico{
align-content: center;
justify-content: center;
width: 850px;
height: 380px;
background-color:#adadad;
border-radius: 23px;
background: #ffffff;
box-shadow:  15px 15px 39px #535353,
             -15px -15px 39px #b6b6b6;
}

@media screen and (max-width: 320px){
    .grafico{
width: 250px;
height: 220px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-left: -34px;
    }
}

@media screen and (max-width: 375px){
    .grafico{
width: 270px;
height: 220px;
margin-left: 25px;
    }
}
@media screen and (max-width: 425px) {
    .grafico{
        width: 355px;
        height: 250px;
    }
}