.chart_pie{
align-content: center;
justify-content: center;
width: 350px;
height: 305px;
background-color: #e0e0e0;
border-radius: 23px;
background: #ffffff;
box-shadow:  15px 15px 39px #5a5a5a,
             -15px -15px 39px #b6b6b6;
}

@media screen and (max-width:320px){
    .chart_pie{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 220px;
        height: 225px;
        margin-top: 26px;
        margin-left: 20px;
    }
}
@media screen and (max-width:375px) {
    .chart_pie{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 210px;
       margin-top: 26px;
       margin-left: 60px;
    }
}